body {
    background-color:rgb(135, 206, 235);
}

body p:first-child {
    background-color:black;
    color:white;
}

body p:nth-child(2) {
    background-color:white;
}

body p:last-child {
    color:red;
}

li {
    width:50%;
    padding:10px;
}

li:first-child, li:last-child {
    background-color:white;
    font-size:22px;
}

li:nth-child(2), li:nth-child(4) {
    background-color:gray;
}

li:nth-child(3) {
    background-color:pink;
}